{% extends 'index.html' %}

{% block title %}
<title>Thêm Học Sinh</title>
{% endblock %}

{% block content %}
    <div class="container-fuild">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tiếp nhận học sinh</h1>
        </div>

        <!--Student Profile Card-->
        <div class="card">
            <div class="card-header text-center text-danger">
                Hồ Sơ Học Sinh
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <form method="POST">
                    {% if errmsg %}
                        <div class="alert alert-danger">
                            {{ errmsg }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="name">
                            Họ Tên
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="name" id="name" placeholder="Họ tên học sinh" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">
                            Giới tính
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-control" name="gender" id="gender" required>
                            <option disabled="true" selected></option>
                            <option value=0>Nam</option>
                            <option value=1>Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birth-day">
                            Ngày Sinh
                            <span class="text-danger">*</span>
                        </label>
                        <input type="date" name="day-of-birth" id="birth-day" placeholder="dd/mm/yyyy" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input type="text" name="address" id="address" placeholder="Địa chỉ" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email
                            <span class="text-danger">*</span>
                        </label>
                        <input type="email" name="email" id="email" placeholder="example@gmail.com" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Thêm">
                    </div>
                </form>
            </div>
            <!-- End Card Body -->
        </div>
        <!--End Card -->
    </div>
{% endblock %}