{% extends 'admin/master.html' %}
{% block body %}
<div class="bg-info">
    <h1 class="text-center text-danger">Tạo tài khoản</h1>
    {% if err_msg %}
        <div class="alert alert-danger m-3">
            {{ err_msg }}
        </div>
    {% endif %}
    <form method="post" action="" class="m-3">
        <div class="form-group">
            <label for="username">Tên tài khoản</label>
            <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label>Mật khẩu</label>
            <input type="password" class="form-control" name="password" id="password" required >
        </div>
        <div class="form-group">
            <label>Xác nhận mật khẩu</label>
            <input type="password" class="form-control" name="confirm-password" id="confirm-password" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Tạo tài khoản">
        </div>
    </form>
</div>
{% endblock %}